# python
*.egg-info
.venv
*.pyc

# vagrant
.vagrant

tmp/

#vim
*.swp

state/
clients.json
rs/

solar.log
x-venv/
.tmp/
modules/

celery*.pid
celery*.log

*.dot
*.png
resources_compiled.py

# bootstrap
bootstrap/packer_cache
bootstrap/trusty64
bootstrap/solar-master.box
vagrant-settings.yaml

.solar_cli_uids

.ssh/
.cache

.tox

solar/.coverage
