solar-celery:
  image: solarproject/solar-celery
  # path inside of the container should be exactly the same as outside
  # because solar uses absolute path to find resoruce actions files
  volumes:
    - /vagrant/.vagrant:/vagrant/.vagrant
    - /vagrant:/solar
    - /vagrant/templates:/vagrant/templates
    - /vagrant/resources:/vagrant/resources
    - /vagrant/library:/vagrant/library
    - /root/.ssh:/root/.ssh
    - ./bootstrap/playbooks/celery.yaml:/celery.yaml
    - /var/lib/solar/repositories:/var/lib/solar/repositories
    - /.solar_config_override:/.solar_config_override
    - ./run.sh:/run.sh
    - ./.config:~/.config
  # links are not used for configuration because we can rely on non-container
  # based datastores
  links:
    - riak
    - redis

riak:
  image: solarproject/riak
  volumes:
    - ./utils/riak/app.config:/etc/riak/app.config
  ports:
    - 8087:8087
    - 8098:8098
redis:
  image: tutum/redis
  ports:
    - 6379:6379
  environment:
    - REDIS_PASS=**None**
