six>=1.9.0
ply
click==4.0
jinja2==2.7.3
networkx>=1.10
PyYAML
jsonschema==2.4.0
requests
dictdiffer==0.4.0
enum34==1.0.4
inflection
Fabric==1.10.2
tabulate==0.7.5
gevent>=1.0.2

# we need callbacks for now
ansible

mock
multipledispatch==0.4.8
pbr
pydotplus
bunch
wrapt

# if you want to use riak backend then
# riak
# if you want to use sql backend then
peewee
# if you want to use sql + postgresql then
# psycopg2

# if you want to use lua computable inputs
# lupa

# if you want to use complex version check in repositories
semver

# plugins
stevedore

#zerorpc doesnt consume messages with >13.0.2, need to debug
pyzmq==13.0.2
zerorpc>=0.5.2
