six>=1.9.0
ply
click==4.0
jinja2==2.7.3
networkx>=1.10
PyYAML
jsonschema==2.4.0
requests
dictdiffer==0.4.0
enum34==1.0.4
inflection
Fabric==1.10.2
tabulate==0.7.5
ansible
celery
mock
multipledispatch==0.4.8
pbr
pydot
bunch
wrapt
# if you want to use riak backend then
# riak
# if you want to use sql backend then
peewee
# if you want to use lua computable inputs
# lupa
# required for celery sql backends
sqlalchemy


# if you want to use complex version check in repositories
semver

# plugins
stevedore
