-r requirements.txt
hacking<0.11,>=0.10.0
pytest
pytest-cov
pytest-mock
tox
pytest-subunit
os-testr

## for computable inputs
# temporary disabled
# lupa

# to test if everything works on gevent
gevent

# docs
openstack-doc-tools>=0.30
doc8  # Apache-2.0
