-r requirements.txt
hacking<0.11,>=0.10.0
pytest
pytest-cov
pytest-mock
tox
pytest-subunit
os-testr
doc8  # Apache-2.0
sphinx>=1.2.1,!=1.3b1,<1.3  # BSD

## for computable inputs
# temporary disabled
# lupa
