-r requirements.txt
hacking<0.11,>=0.10.0
pytest
pytest-cov
pytest-mock
tox
pytest-subunit
os-testr
peewee

## for computable inputs
# temporary disabled
# lupa

# to test if everything works on gevent
gevent
