[Unit]
Description=Resource management and orchestration engine for distributed systems
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/bin/solar-worker
PrivateTmp=true
KillSignal=SIGQUIT
Restart=always

[Install]
WantedBy=multi-user.target
