six>=1.9.0
ply
click==4.0
jinja2==2.7.3
networkx>=1.10
PyYAML==3.11
jsonschema==2.4.0
requests==2.7.0
dictdiffer==0.4.0
enum34==1.0.4
redis==2.10.3
pytest
fakeredis
inflection
Fabric==1.10.2
tabulate==0.7.5
ansible
celery
mock
